In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Assignment_Timecard.xlsx')

In [3]:
df['Time'] = pd.to_datetime(df['Time'], format='%m-%d-%Y %I:%M %p')
df['Time Out'] = pd.to_datetime(df['Time Out'], format='%m-%d-%Y %I:%M %p')

In [4]:
df['Shift Duration'] = (df['Time Out'] - df['Time']).dt.total_seconds() / 3600

In [5]:
long_shifts = df[df['Shift Duration'] > 14]

In [7]:
print(long_shifts[['Employee Name', 'Time', 'Time Out', 'Shift Duration']])

                        Employee Name                Time            Time Out  \
1036  DeXgadiXXE REdarMe, ChrisMiaW S 2023-09-17 04:00:01 2023-09-17 19:30:11

      Shift Duration
1036       15.502778

In [8]:
long_shifts

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Shift Duration
1036,WFS000523,Active,2023-09-17 04:00:01,2023-09-17 19:30:11,16:30,2023-09-10,2023-09-23,"DeXgadiXXE REdarMe, ChrisMiaW S",523,15.502778